<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378242149460-5v3ts5qss56g005hl8ldum1ndbtq5j5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378242149460-5v3ts5qss56g005hl8ldum1ndbtq5j5d</string>
	<key>API_KEY</key>
	<string>AIzaSyC4z337ueToBJkPD1MKX8MITuBNd_oHM4I</string>
	<key>GCM_SENDER_ID</key>
	<string>378242149460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sabresmedia.presence</string>
	<key>PROJECT_ID</key>
	<string>caring-5a900</string>
	<key>STORAGE_BUCKET</key>
	<string>caring-5a900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378242149460:ios:e397d4df3363bee1f1d1c1</string>
</dict>
</plist>